<div class="contextual">
<%= toggle_link l(:button_add), 'new-issue-release-form', {:focus => 'release_id'} %>
</div>

<p><strong><%=l(:label_issue_release)%></strong></p>

<% if @releases.present? %>
<form>
<table class="list releases">
<% @releases.each do |release| %>
  <td class="release"><%= release.name %></td>
  <td class="buttons"><%= link_to(l(:label_issue_release_delete),
                                  release_path(release),
                                  :remote => true,
                                  :method => :delete,
                                  :data => {:confirm => l(:text_are_you_sure)},
                                  :title => l(:label_issue_release_delete),
                                  :class => 'icon-only icon-link-break'
                                 ) #if User.current.allowed_to?(:manage_issue_relations, @project)
                                  %></td>
  </tr>
<% end %>
</table>
</form>
<% else %>
<p>No releases</p>
<% end %>

<%= form_for :issue_release, {
                 :remote => true,
                 :url => rb_issue_release_index_url,
                 :method => :post,
                 :html => {:id => 'new-issue-release-form', :style => 'display: none;' }
               } do |f| %>

  <p>
    <%= f.hidden_field 'issue_id', :value => @issue.id %>
    <%= f.select :release_id, release_options_for_select(@issue.assignable_releases, nil)  %>
    <%= submit_tag l(:button_add) %>
    <%= link_to_function l(:button_cancel), '$("#new-issue-release-form").hide();'%>
  </p>
<% end %>
