<h2><%=l(:label_release_plan_new)%></h2>

<% rb_labelled_form_for @release_planning, :url => update_release_planing_rb_path(:id =>@release_planning.id,:project_id => @project) do |f| %>
  <%= error_messages_for 'rb_release_plannings' %>
  <%= render :partial => 'rb_release_plannings/form', :locals => { :f => f } %>
  <%= submit_tag "Save" %>
  <%= link_to "Cancel", releases_path_rb_path %>
<% end %>
